{% extends 'layout.html' %}

{% block body %}

<div class="container">

    <!--Header section-->
    <div class="header_size">
        <div class="header_menu_setts">

            <div class="header_menu_options_r">

                <div class="header_menu_options_r1">REGÍSTRA</div>
                <div class="header_menu_options_r2">SESIÓN</div>
                <div class="header_menu_options_r3">NOSOTROS</div>
            </div>

            <div class="header_menu_logo">
                <div class="header_menu_logo_content">

                </div>
            </div>

            <div class="header_menu_options_l">

                <div class="header_menu_options_l1">ORDENA</div>
                <div class="header_menu_options_l1">AQUÍ ESTOY </div>

            </div>

        </div>
    </div>

    <!--main content settings / (sizing)-->
    <div class="main_container">
        <div class="main_container_setts">
            <!--content Section-->
            <div class="main_content">

            </div>
        </div>
    </div>

    <div class="footer_container">
        <div class="footer_setts">
            <!--footer content section-->

             <!--container of icon(facebook)-->
             <div class="footer_content2">
                <div class="footer_content_in2"><a href="https://www.facebook.com/profile.php?id=61555885852365x" target="_blank" rel="noopener noreferrer"><img src="../static/imagery/Copia de i_r_f.png"></a>
             </div>
            </div>

            <!--container of icon(instagram)-->
            <div class="footer_content3">
                <div class="footer_content_in3"> <a href="https://www.instagram.com/esfoood/" target="_blank" rel="noopener noreferrer"><img src="../static/imagery/Copia de i_r_i.png"></a>
            </div>
            </div>

             <!--container of icon(youtube)-->
            <div class="footer_content4">
               <div class="footer_content_in4"> <a href="https://www.youtube.com/channel/UCENU-q-ZtR81mhzPC-miXMg" target="_blank" rel="noopener noreferrer"><img src="../static/imagery/Copia de i_r_y.png"></a></div>
            </div>

            <!--container of symbols(image)-->
            <div class="footer_content1"></div>

           
        </div>
    </div>
</div>
{% endblock %}