{% extends 'layout.html' %}

{% block body %}

<div class="container">

    <!--Header section-->
    <div class="header_size">
        <div class="header_menu_setts">

            <div class="header_menu_options_r">

                <div class="header_menu_options_r1">REGÍSTRA</div>
                <div class="header_menu_options_r2">SESIÓN</div>
                <div class="header_menu_options_r3">NOSOTROS</div>
            </div>

            <div class="header_menu_logo">
                <div class="header_menu_logo_content">

                </div>
            </div>

            <div class="header_menu_options_l">

                <div class="header_menu_options_l1">ORDENA</div>
                <div class="header_menu_options_l1">AQUÍ ESTOY </div>

            </div>

        </div>
    </div>

    <!--main content settings / (sizing)-->
    <div class="main_container">
        <div class="main_container_setts">
            <!--content Section-->
            <div class="main_content">

            </div>
        </div>
    </div>

    <div class="footer_container">
        <div class="footer_setts">
            <!--footer content section-->
            <div class="footer_content1"></div>
            <div class="footer_content2"></div>
            <div class="footer_content2"></div>
            <div class="footer_content2"></div>
        </div>
    </div>
</div>
{% endblock %}